<#include "/common/layout.html"> <@header>
<link rel="stylesheet" href="/plugins/jquerytree/css/style.css" />
</@header> <@body>
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<small>系统管理 > 菜单管理</small>
		</h1>
	</section>
	<!-- Main content -->
	<section class="content">
		<!-- Your Page Content Here -->
		<div class="row">
			<div class="col-xs-12">
				<div class="tree well">
					<ul>
						<li><span><i class="fa fa-folder-open"></i> 根节点</span>
							<ul>
							    <#list sysMenuVos as vo>
								<li><span><i class="fa fa-folder-open"></i> ${(vo.sysMenu.menuName)!}</span>
									<ul>
									    <#list vo.sysMenuChild as ch>
										<li><span><i class="fa fa-file"></i> ${(ch.menuName)!}</span></li>
										</#list>
									</ul>
								</li>
								</#list>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
</@body> <@footer>
<script type="text/javascript">
$(function() {

	$('.tree li:has(ul)').addClass('parent_li').find(' > span').attr(
			'title', 'Collapse this branch');

	$('.tree li.parent_li > span').on('click',
		function(e) {
		var children = $(this).parent('li.parent_li').find(
				' > ul > li');
		if (children.is(":visible")) {

			children.hide('fast');

			$(this).attr('title', 'Expand this branch')
					.find(' > i').addClass('fa fa-folder')
					.removeClass('fa-folder-open');
		} else {

			children.show('fast');

			$(this).attr('title', 'Collapse this branch').find(
					' > i').addClass('fa fa-folder-open')
					.removeClass('fa-folder');
		}
		e.stopPropagation();
	});

});
</script>
</@footer>
