<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vacomall.mapper.SysRoleMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.vacomall.entity.SysRoleMenu">
		<id column="id" property="id" />
		<result column="roleId" property="roleId" />
		<result column="menuId" property="menuId" />
	</resultMap>
	
	<select id="selectRoleMenuIdsByUserId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT DISTINCT rm.menuId FROM `sys_user_role` ur
		INNER JOIN `sys_role` r ON r.`id` = ur.`roleId`
		INNER JOIN  `sys_role_menu` rm ON rm.`roleId` = ur.`roleId`
		WHERE ur.`userId` = #{uid}
		AND r.`roleState` = 1
	</select>
	
</mapper>
