<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- Druid,监控数据库,以及WEB访问连接信息 -->  
	<filter>  
	    <filter-name>DruidWebStatFilter</filter-name>  
	    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>  
	    <init-param>  
	        <param-name>exclusions</param-name>  
	        <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,*.jsp,/druid/*,/download/*</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>sessionStatMaxCount</param-name>  
	        <param-value>2000</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>sessionStatEnable</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>principalSessionName</param-name>  
	        <param-value>session_user_key</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>profileEnable</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	</filter>  
	<filter-mapping>  
	    <filter-name>DruidWebStatFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>  
	<!-- 配置 Druid 监控信息显示页面 -->  
	<servlet>  
	    <servlet-name>DruidStatView</servlet-name>  
	    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>  
	    <init-param>  
	        <!-- 允许清空统计数据 -->  
	        <param-name>resetEnable</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	    <init-param>  
	        <!-- 用户名 -->  
	        <param-name>loginUsername</param-name>  
	        <param-value>admin</param-value>  
	    </init-param>  
	    <init-param>  
	        <!-- 密码 -->  
	        <param-name>loginPassword</param-name>  
	        <param-value>admin</param-value>  
	    </init-param>  
	</servlet>  
	<servlet-mapping>  
	    <servlet-name>DruidStatView</servlet-name>  
	    <url-pattern>/druid/*</url-pattern>  
	</servlet-mapping>  
	
	
	<!-- Spring 配置路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext-*.xml</param-value>
	</context-param>
	
	<!-- Spring 监听启动 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.vacomall.common.util.SpringUtil</listener-class>
	</listener>
	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<!-- 异常配置 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>

	<!-- 欢迎界面 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>