<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 角色管理</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <form action="/system/role/list/1.html" method="post">
          <div class="box-header row m5">
            <div class="input-group pull-left col-sm-9 col-lg-10 pb5">
	            <#if permissions?seq_contains('addRole')>
	            	<a class="btn btn-primary mr5" href="/system/role/add.html"><i class="fa fa-plus"></i> 创建新角色</a>
	            </#if>
	            <#if permissions?seq_contains('deleteBatchRole')>
	            <a class="btn btn-danger" delete-batch-url="/system/role/deleteBatch" ><i class="fa fa-remove"></i> 批量删除选中</a>
	            </#if>
            </div>
             <div class="input-group pull-right col-sm-3 col-lg-2">
               <input type="text" name="search" value="${search!}" class="form-control input-sm pull-right" placeholder="Search">
               <div class="input-group-btn">
                 <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
               </div>
            </div>
          </div><!-- /.box-header -->
          </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th  width="100px"><input value="root" type="checkbox" class="minimal checkbox-toolbar"> 行号</th>
                
                <th>角色名称</th>
                <th>描述</th>
                <th>创建时间</th>
                <th>状态</th>
                <th width="150px">操作</th>
              </tr>
              <#list pageData.getRecords() as role>
              	  <tr>
	                <td>
	                	<label>
	                	<input value="${role.id}" name="roleState" type="checkbox" class="minimal checkbox-item">
	                	${((pageData.current-1)*pageData.size +role_index+1)!}
	                	</label>
	                </td>
	                <td>${(role.roleName)!}</td>
	                <td>${(role.roleDesc)!'--'}</td>
	                <td>${(role.createTime?string('yyyy/MM/dd HH:mm:ss'))!'--'}</td>
	                <td><#if role.roleState==1>启用<#else><font color="red">禁用</font></#if></td>
	                <td>
	                	<#if permissions?seq_contains('authRole')>
	                	<a class="btn btn-success btn-xs" href="/system/role/auth/${(role.id)!}.html" data-toggle="tooltip" title="授权" data-placement="bottom">授权</a>
	                	<#else>-</#if>
	                	<#if permissions?seq_contains('editRole')>
	                	<a class="btn btn-primary btn-xs" href="/system/role/edit/${(role.id)!}.html" data-toggle="tooltip" title="编辑" data-placement="bottom">编辑</a>
	 	               	<#else>-</#if>
	                	<#if permissions?seq_contains('deleteRole')>
	 	               	<a class="btn btn-danger btn-xs" data-toggle="tooltip" title="删除" data-placement="bottom"
	                	 data-tiggle="ajax"
	                	 data-submit-url="/system/role/delete?id=${(role.id)!}"
	                	 data-confirm="您确定要删除该条记录吗?">删除</a>
	                	 <#else>-</#if>
	                </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer">
            <div class="col-xs-6">显示 ${((pageData.current -1) * pageData.size + 1)!}  -  ${(pageData.current * pageData.size)!} 条  共 ${(pageData.getTotal())!} 条记录</div>
            <div class="col-xs-6">
            <#include "/common/paginate.html" />
 			<@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/system/role/list/" urlParas=".html?search=${search!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>