<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vacomall.mapper.SysUserRoleMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		Id, userId, roleId
	</sql>
	
	<select id="selectPermissionByUid" parameterType="java.lang.String" resultType="java.lang.String">
	
		SELECT m.`resource` FROM `sys_user_role` ur
		INNER JOIN  `sys_role_menu` rm ON rm.`roleId` = ur.`roleId`
		INNER JOIN `sys_menu` m ON m.`id` = rm.`menuId`
		AND ur.`userId` = #{uid}
		AND m.`resource` IS NOT NULL
		
	</select>
	
</mapper>