<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      	系统管理
      <small>> 用户管理</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <a class="btn btn-primary" href="/system/user/add.html"><i class="fa fa-plus"></i> 创建新用户</a>
            <div class="box-tools">
              <div class="input-group" style="width: 250px;">
                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div><!-- /.box-header -->
         
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th  width="30px"><input name="userState" type="checkbox" class="minimal"></th>
                <th>用户名</th>
                <th>描述</th>
                <th>创建时间</th>
                <th>状态</th>
                <th width="120px">操作</th>
              </tr>
              <#list pageData.getRecords() as user>
              	  <tr>
	                <td><input name="userState" type="checkbox" class="minimal"></td>
	                <td>${(user.userName)!}</td>
	                <td>${(user.userDesc)!'--'}</td>
	                <td>${(user.createTime?string('yyyy/MM/dd HH:mm:ss'))!}</td>
	                <td><#if user.userState==1><span class="label label-success">启用</span><#else><span class="label label-danger">禁用</span></#if></td>
	                <td>
	                	<a class="btn btn-primary btn-xs">编辑</a>
	                	<a class="btn btn-danger btn-xs"
	                	 data-tiggle="ajax"
	                	 data-submit-url="/system/user/delete?id=${(user.id)!}"
	                	 data-confirm="您确定要删除该条记录吗?">删除</a>
	                </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer">
            <div class="col-xs-6">显示 ${((pageData.current -1) * pageData.size)!}  -  ${(pageData.current * pageData.size)!} 条  共 ${(pageData.getTotal())!} 条记录</div>
            <div class="col-xs-6">
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/system/user/list/" urlParas=".html?search=${search!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>