<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      	系统管理
      <small>> 用户管理</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          
          <div class="box-header">
            <a class="btn btn-primary" href="/system/user/add.html"><i class="fa fa-plus"></i> 创建新用户</a>
            <div class="box-tools">
              <div class="input-group" style="width: 250px;">
                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div><!-- /.box-header -->
         
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>创建时间</th>
                <th>描述</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              <#list userList.getRecords() as user>
              	  <tr>
	                <th>${(user.id)!}</th>
	                <th>${(user.username)!}</th>
	                <th>${(user.createtime)!}</th>
	                <th>${(user.userdesc)!}</th>
	                <th><#if user.userstate==1>启用<#else>x 禁用</#if></th>
	                <th>111</th>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>