<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      	主面板
      <small>显示系统各种信息</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
	
	<div class="row">
       <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="info-box">
           <span class="info-box-icon bg-aqua"><i class="fa fa-link"></i></span>
           <div class="info-box-content">
             <span class="info-box-text">PV</span>
             <span class="info-box-number">9058411</span>
           </div><!-- /.info-box-content -->
         </div><!-- /.info-box -->
       </div><!-- /.col -->
       <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="info-box">
           <span class="info-box-icon bg-red"><i class="fa fa-user-o"></i></span>
           <div class="info-box-content">
             <span class="info-box-text">VU</span>
             <span class="info-box-number">5874451</span>
           </div><!-- /.info-box-content -->
         </div><!-- /.info-box -->
       </div><!-- /.col -->

       <!-- fix for small devices only -->
       <div class="clearfix visible-sm-block"></div>

       <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="info-box">
           <span class="info-box-icon bg-green"><i class="fa fa-cart-plus"></i></span>
           <div class="info-box-content">
             <span class="info-box-text">订单数</span>
             <span class="info-box-number">760</span>
           </div><!-- /.info-box-content -->
         </div><!-- /.info-box -->
       </div><!-- /.col -->
       <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="info-box">
           <span class="info-box-icon bg-yellow"><i class="fa fa-jpy"></i></span>
           <div class="info-box-content">
             <span class="info-box-text">订单金额</span>
             <span class="info-box-number">32,000.00</span>
           </div><!-- /.info-box-content -->
         </div><!-- /.info-box -->
       </div><!-- /.col -->
     </div><!-- /.row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>