<!DOCTYPE html>
<html>
  <#include "/common/head.html">
  <style type="text/css">
  	.has-feedback .form-control{
  		height: 50px;
  	}
  	.form-control-feedback {
    	top: 8px;important!
    }
  </style>
  <body class="hold-transition login-page">
  <div class="login-box">
	  <div class="login-logo">
	    <b>${(systemName)!'KangarooAdmin'}</b>
	  </div>
	  <!-- /.login-logo -->
	  <form action="/login/doLogin.html" data-validator-option="{theme:'bootstrap', timely:2, theme:'simple_bottom'}" method="post">
	  <div class="login-box-body">
	      <p class="login-box-msg">请输入用户名和密码登录</p>
	      <#if error??>
	      	<div  class="alert alert-danger alert-dismissible">
		       <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> ${error!}</h4>
		    </div>
	      </#if>
	      <div class="form-group has-feedback mg">
	        <input type="hidden" name="returnURL" value="${returnURL!}">
	        <input type="text" class="form-control"  name="userName" placeholder="用户名" data-rule="用户名:required;username;">
	        <span class="glyphicon glyphicon-user form-control-feedback"></span>
	      </div>
	      <div class="form-group has-feedback mg">
	        <input type="password" class="form-control" name="password"  placeholder="密码"  data-rule="密码:required;password;">
	        <span class="glyphicon glyphicon-lock form-control-feedback" ></span>
	      </div>
	      <div class="form-group has-feedback">
	      	<div class="row">
	      		<div class="col-lg-4">
	      			<div class="form-group has-feedback mg">
			         	<input type="text" class="form-control" name="captcha" placeholder="验证码" data-rule="验证码:required;length(5);" size="5" >
			         	<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			        </div>
	      		</div>
	      		<div class="col-lg-8">
	      			<div class="form-group has-feedback">
				        <img alt="如果看不清楚，请单击图片刷新！" class="pointer img" src="/login/captcha">
				        <a href="javascript:$('.img').attr('src','/login/captcha');">点击刷新</a>
				      </div>
	      		</div>
	      	</div>
	      </div>
	      
	      <div class="row">
	        <div class="col-xs-8">
	          <div class="checkbox icheck">
	          </div>
	        </div>
	        <!-- /.col -->
	        <div class="col-xs-4">
	          <button type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-sign-in"></i> 登录</button>
	        </div>
	        <!-- /.col -->
	      </div>
	    <!-- /.social-auth-links -->
	  </div>
	  </form>
  <!-- /.login-box-body -->
</div>
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.1.4 -->
<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/plugins/iCheck/icheck.min.js"></script>
<!-- nice-validator-1.0.8 -->
<script src="/plugins/nice-validator-1.0.8/jquery.validator.js?local=zh-CN"></script>
</body>
</html>
